# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# binaries
*_benchmark
*_unit
unit

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
Testing
Makefile
config.h
