name: clang-format

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6.0.1
    - uses: DoozyX/clang-format-lint-action@v0.20
      with:
        source: '.'
        exclude: './cmake'
        extensions: 'c,h,hh,cpp'
        clangFormatVersion: 17
        style: file # Use .clang-format at repo root

