name: Ubuntu-18-CI

'on':
  - push
  - pull_request

permissions:
  contents: read

jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-18.04

    env:
      CC: gcc
      CXX: g++

    steps: 
      - uses: actions/checkout@v2
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake  ..
          cmake --build . 
          ctest . --output-on-failure
