name: Ubuntu-Debug-Sanitized-CI

'on':
  - push
  - pull_request

permissions:
  contents: read

jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-latest

    env:
      CC: gcc
      CXX: g++

    steps: 
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake  -DCMAKE_BUILD_TYPE=Debug -DROARING_SANITIZE=ON -DENABLE_ROARING_TESTS=ON ..
          cmake --build . 
          ctest . --output-on-failure
