name: Ubuntu-Thread-Sanitized-CI

'on':
  - push
  - pull_request

permissions:
  contents: read

jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-latest

    env:
      CC: gcc
      CXX: g++

    steps: 
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake  -DROARING_SANITIZE_THREADS=ON -DENABLE_ROARING_TESTS=ON ..
          cmake --build . 
          ctest . --output-on-failure
