name: Ubuntu-Sanitized-CI

'on':
  - push
  - pull_request

permissions:
  contents: read

jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-latest

    env:
      CC: gcc
      CXX: g++

    steps: 
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake  -DROARING_SANITIZE=ON -DENABLE_ROARING_TESTS=ON ..
          cmake --build . 
          ctest . --output-on-failure
