name: Ubuntu-GCC10-CI

'on':
  - push
  - pull_request

permissions:
  contents: read

jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-latest
    env:
      CC: gcc-10
      CXX: g++-10
    steps: 
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - run:   |
         sudo apt update
         sudo apt install gcc-10 g++-10
        shell: bash
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake -DENABLE_ROARING_TESTS=ON ..
          cmake --build .
          ctest . --output-on-failure
