name: Ubuntu-CI

on: push


jobs:
  ci:
    name: ubuntu-gcc
    runs-on: ubuntu-latest

    env:
      CC: gcc
      CXX: g++

    steps: 
      - uses: actions/checkout@v2
      - name: Build and Test
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_INSTALL_PREFIX:PATH=destination ..
          cmake --build . 
          ctest . --output-on-failure
          cmake --install . 
          cd ../tests/installation/find && mkdir build && cd build && cmake -DCMAKE_INSTALL_PREFIX:PATH=../../../build/destination .. &&  cmake --build .
      - name: Build and Test Debug
        run: |
          mkdir builddebug
          cd builddebug
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX:PATH=destination ..
          cmake --build . 
          ctest . --output-on-failure
          cmake --install . 
          cd ../tests/installation/find && mkdir builddebug && cd builddebug && cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_INSTALL_PREFIX:PATH=../../../build/destination .. &&  cmake --build .
