name: VS17-CI

on: [push, pull_request]

jobs:
  ci:
    name: windows-vs17
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - {gen: Visual Studio 17 2022, arch: Win32}
          - {gen: Visual Studio 17 2022, arch: x64}
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Configure
        run: |
          mkdir build
          cd build && cmake -G "${{matrix.gen}}" -A ${{matrix.arch}}  ..
      - name: Build
        run: cmake --build build --config Release
      - name: Run basic tests
        run: |
          cd build
          ctest -C Release --output-on-failure 
